*__pycache__*
.ipynb_checkpoints
^.*/
0.34.0 
img/*
results/*
outputs
backup/*
.vscode
*.DS_Store*s
trainner
notebooks
logger
ignore
.DS_Store
data/cache
*.zip
tmp/
train_loss.py
train_grad.py
trainer/trainer_loss.py
trainer/trainer_grad.py
model/grad_norm_loss.py
model/loss_grad.py